server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Nilanchala2001/config-repo.git
          username: Nilanchala2001
          password: Nilanchala@977
          default-label: main
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

